<div class="user-list-container">
	<div class="user-list-filter">
		<app-users-filter (filter)="applyFilter($event)"></app-users-filter>
	</div>

	<div class="user-list">
		<div class="user-list-actions">
			<button mat-raised-button color="primary" (click)="openAddUserDialog()">Добавить пользователя</button>
		</div>
		<div class="user-list-table">
			<table mat-table [dataSource]="filteredUsers" class="mat-elevation-z8">
				<ng-container matColumnDef="index">
					<th mat-header-cell *matHeaderCellDef> Порядковый номер </th>
					<td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
				</ng-container>

				<ng-container matColumnDef="fullName">
					<th mat-header-cell *matHeaderCellDef> ФИО </th>
					<td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
				</ng-container>

				<ng-container matColumnDef="age">
					<th mat-header-cell *matHeaderCellDef> Возраст </th>
					<td mat-cell *matCellDef="let element"> {{element.age}} </td>
				</ng-container>

				<ng-container matColumnDef="registrationDate">
					<th mat-header-cell *matHeaderCellDef> Дата регистрации </th>
					<td mat-cell *matCellDef="let element"> {{element.registrationDate | date:'shortDate'}} </td>
				</ng-container>

				<tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
				<tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openUserDetails(row)"></tr>
				</table>
		</div>
	</div>
</div>
