<div class="login-container">
	<mat-card>
		<mat-card-title>Авторизация</mat-card-title>
		<mat-card-content>
			<form [formGroup]="loginForm" (ngSubmit)="login()">
				<mat-form-field>
					<mat-label>Логин</mat-label>
					<input matInput formControlName="username" type="text">
				</mat-form-field>

				<mat-form-field>
					<mat-label>Пароль</mat-label>
					<input matInput appNoSpace formControlName="password" [type]="hidePassword ? 'password' : 'text'">
					<button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
						<mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
					</button>
				</mat-form-field>
				
				<div class="error" *ngIf="loginError">Неверный логин или пароль</div>
				<button mat-raised-button color="primary" type="submit">Войти</button>
			</form>
		</mat-card-content>
	</mat-card>
</div>
